<a href="https://colab.research.google.com/github/pavan03ds/Feature-Engineering/blob/main/4_Handling_Categorical_features_4_All_techniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://medium.com/geekculture/how-to-handle-categorical-variables-7c1ee198c55c

In [ ]:
import pandas as pd
import numpy as np

# Target Guided Ordinal Encoding
1. Ordering the labels according to the target
2. Replace the labels by the joint probability of being 1 or 0

In [ ]:
#titanic_data
t_d = pd.read_csv("/content/drive/MyDrive/Feature Engineering/titanic_train.csv",usecols=['survived','cabin'])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
t_d.head()

  cabin  survived
0   NaN         1
1   NaN         0
2   NaN         0
3   NaN         1
4   NaN         0

In [ ]:
t_d['cabin'].fillna('Missing',inplace=True)   # filling the NaN values with 'Missing'

In [ ]:
t_d['cabin'].head(20)

0     Missing
1     Missing
2     Missing
3     Missing
4     Missing
5     Missing
6     Missing
7     Missing
8     Missing
9     Missing
10        C82
11        D15
12        C50
13    Missing
14    Missing
15    Missing
16    Missing
17    Missing
18        E33
19    Missing
Name: cabin, dtype: object

In [ ]:
#let's take only the first letter from rows of cabin feature
t_d['cabin'] = t_d.cabin.astype('str').str[0]

In [ ]:
t_d.head()

  cabin  survived
0     M         1
1     M         0
2     M         0
3     M         1
4     M         0

In [ ]:
t_d['cabin'].unique()

array(['M', 'C', 'D', 'E', 'B', 'F', 'A', 'G', 'T'], dtype=object)

In [ ]:
t_d.groupby('cabin')['survived'].mean().sort_values().index

Index(['T', 'M', 'G', 'C', 'A', 'F', 'D', 'B', 'E'], dtype='object', name='cabin')

In [ ]:
ordinal_lables = t_d.groupby('cabin')['survived'].mean().sort_values().index

In [ ]:
ordinal_label_count = {k:i for i,k in enumerate(ordinal_lables,0)}

In [ ]:
t_d['cabin_ordinal_lables'] = t_d['cabin'].map(ordinal_label_count)

In [ ]:
t_d.head(20)

   cabin  survived  cabin_ordinal_lables
0      M         1                     1
1      M         0                     1
2      M         0                     1
3      M         1                     1
4      M         0                     1
5      M         0                     1
6      M         0                     1
7      M         1                     1
8      M         1                     1
9      M         0                     1
10     C         0                     3
11     D         1                     6
12     C         1                     3
13     M         1                     1
14     M         0                     1
15     M         0                     1
16     M         0                     1
17     M         1                     1
18     E         1                     8
19     M         1                     1

#

# Mean Encoding 
mean encoding is same as ordinal encoding the main difference is <b>we replace category with it's mean<b/>

In [ ]:
mean_ordinal_lables = t_d.groupby('cabin')['survived'].mean().to_dict()

In [ ]:
mean_ordinal_lables

{'A': 0.5833333333333334,
 'B': 0.7333333333333333,
 'C': 0.5806451612903226,
 'D': 0.7096774193548387,
 'E': 0.7916666666666666,
 'F': 0.6666666666666666,
 'G': 0.5,
 'M': 0.2822458270106222,
 'T': 0.0}

In [ ]:
t_d['mean_ordinal_encode'] = t_d['cabin'].map(mean_ordinal_lables)

In [ ]:
t_d.head(20)

   cabin  survived  cabin_ordinal_lables  mean_ordinal_encode
0      M         1                     1             0.282246
1      M         0                     1             0.282246
2      M         0                     1             0.282246
3      M         1                     1             0.282246
4      M         0                     1             0.282246
5      M         0                     1             0.282246
6      M         0                     1             0.282246
7      M         1                     1             0.282246
8      M         1                     1             0.282246
9      M         0                     1             0.282246
10     C         0                     3             0.580645
11     D         1                     6             0.709677
12     C         1                     3             0.580645
13     M         1                     1             0.282246
14     M         0                     1             0.282246
15     M         0                     1             0.282246
16     M         0                     1             0.282246
17     M         1                     1             0.282246
18     E         1                     8             0.791667
19     M         1                     1             0.282246

In [ ]:
t_d.tail(20)

    cabin  survived  cabin_ordinal_lables  mean_ordinal_encode
830     D         1                     6             0.709677
831     M         0                     1             0.282246
832     D         0                     6             0.709677
833     M         0                     1             0.282246
834     C         1                     3             0.580645
835     M         0                     1             0.282246
836     M         1                     1             0.282246
837     C         1                     3             0.580645
838     D         1                     6             0.709677
839     E         0                     8             0.791667
840     M         1                     1             0.282246
841     C         1                     3             0.580645
842     M         1                     1             0.282246
843     M         0                     1             0.282246
844     C         1                     3             0.580645
845     C         0                     3             0.580645
846     B         0                     7             0.733333
847     M         1                     1             0.282246
848     M         0                     1             0.282246
849     M         0                     1             0.282246

#

# Probability Ratio Encoding
1. Probability of Survived based on Cabin --- Categorical Feature
2. Probability of Not Survived ---> 1-pr(Survived)
3. pr(Survived)/pr(Not Survived)I
4. Dictonary to map cabin with probability
5. replace with the categorical feature

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Feature Engineering/titanic_train.csv",usecols=['survived','cabin'])

In [ ]:
df.head()

  cabin  survived
0   NaN         1
1   NaN         0
2   NaN         0
3   NaN         1
4   NaN         0

In [ ]:
df['cabin'].fillna('Missing',inplace=True)  #replacing the NaN values with 'Missing'

In [ ]:
df.head(20)

      cabin  survived
0   Missing         1
1   Missing         0
2   Missing         0
3   Missing         1
4   Missing         0
5   Missing         0
6   Missing         0
7   Missing         1
8   Missing         1
9   Missing         0
10      C82         0
11      D15         1
12      C50         1
13  Missing         1
14  Missing         0
15  Missing         0
16  Missing         0
17  Missing         1
18      E33         1
19  Missing         1

In [ ]:
df['cabin'] = df.cabin.astype('str').str[0]   #extracing the first letter of data present in cabin

In [ ]:
df.head()

  cabin  survived
0     M         1
1     M         0
2     M         0
3     M         1
4     M         0

In [ ]:
df.cabin.unique()  #all unique values in cabin

array(['M', 'C', 'D', 'E', 'B', 'F', 'A', 'G', 'T'], dtype=object)

In [ ]:
prob_df = df.groupby(['cabin'])['survived'].mean()

In [ ]:
prob_df = pd.DataFrame(prob_df)  # based on the cabin what's the percentage of survival

In [ ]:
type(prob_df)

pandas.core.frame.DataFrame

In [ ]:
prob_df.head()

       survived
cabin
A      0.583333
B      0.733333
C      0.580645
D      0.709677
E      0.791667

In [ ]:
prob_df['Died'] = 1-prob_df['survived']

In [ ]:
prob_df.head()

       survived      Died
cabin
A      0.583333  0.416667
B      0.733333  0.266667
C      0.580645  0.419355
D      0.709677  0.290323
E      0.791667  0.208333

In [ ]:
prob_df['probability_ratio'] = prob_df['survived']/prob_df['Died']

In [ ]:
prob_df.head()

       survived      Died  probability_ratio
cabin
A      0.583333  0.416667           1.400000
B      0.733333  0.266667           2.750000
C      0.580645  0.419355           1.384615
D      0.709677  0.290323           2.444444
E      0.791667  0.208333           3.800000

In [ ]:
probability_ratio_encoded = prob_df['probability_ratio'].to_dict()

In [ ]:
df['Cabin_encoded'] = df.cabin.map(probability_ratio_encoded)

In [ ]:
df.head(20)

   cabin  survived  Cabin_encoded
0      M         1       0.393235
1      M         0       0.393235
2      M         0       0.393235
3      M         1       0.393235
4      M         0       0.393235
5      M         0       0.393235
6      M         0       0.393235
7      M         1       0.393235
8      M         1       0.393235
9      M         0       0.393235
10     C         0       1.384615
11     D         1       2.444444
12     C         1       1.384615
13     M         1       0.393235
14     M         0       0.393235
15     M         0       0.393235
16     M         0       0.393235
17     M         1       0.393235
18     E         1       3.800000
19     M         1       0.393235